@{
    ViewBag.Title = "Home Page";
}
@using Nhom08_QuanLyKhuyenMai.Models;
@model List<LoaiSanPham>
<main>
    

    @*@{
        foreach (var item in Model)
        {
            <h1>MaLoai: @item.maLoai</h1>
            <h1>TenLoai: @item.tenLoai</h1>
        }
    }*@
</main>